---
- name: Ensure gcc is installed (Varnish dependency).
  yum: name=gcc state=present

- name: Add Varnish repository.
  command: >
    rpm --nosignature -i https://repo.varnish-cache.org/redhat/varnish-{{ varnish_version }}.el6.rpm
    creates=/var/lib/yum/repos/x86_64/6/varnish-{{ varnish_version }}
  ignore_errors: true
  when: ansible_distribution_major_version|int < 7

- name: Install Varnish.
  yum:
    name: varnish
    state: installed
    enablerepo: "varnish-{{ varnish_version }},epel"
    disablerepo: "*"

- name: Copy Varnish configuration (sysvinit).
  template:
    src: varnish.j2
    dest: /etc/sysconfig/varnish
    owner: root
    group: root
    mode: 0644
  when: ansible_distribution_major_version|int < 7

- name: Copy Varnish configuration (systemd).
  template:
    src: varnish.params.j2
    dest: /etc/varnish/varnish.params
    owner: root
    group: root
    mode: 0644
  when: ansible_distribution_major_version|int >= 7
